[Desktop Entry]
Name=KonohaZku
Comment=Querys Zku using Krunner
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-desktop-font
X-KDE-Library=krunner_konohazku
X-KDE-PluginInfo-Author=Minori Hiraoka
X-KDE-PluginInfo-Email=minori@mnetwork.co.kr
X-KDE-PluginInfo-Name=konohazku
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-License=Apache
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
